*.class
*~
*.confidential.*
*.ignore.*

# Eclipse files #
.classpath
.project
.settings

# IntelliJ IDEA files #
.idea
*.iml
*.ipr
*.iws

# Package Files #
*.jar
*.war
*.ear
/logs-analysis/target/
/DocumentSimilarity/target/
/docsimilarity/target/
/docsimilarity2/target/