*.class
*~
*.confidential.*
*.ignore.*

# Eclipse files #
.classpath
.project
.settings

# IntelliJ IDEA files #
.idea
*.iml
*.ipr
*.iws

# Package Files #
*.jar
*.war
*.ear
/commons/target/
/disambiguation-author/target/
/disambiguation/target/
/document-similarity/target/
/examples/target/
/importers/target/
/logs-analysis/target/
/target/
/integration/target/

#pig temp files
*.crc
*part-r-00000
_SUCCESS
