<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:hdp="http://www.springframework.org/schema/hadoop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
						http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd
    					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
        

	<bean id="duplicateWorkVoterConfiguration" class="pl.edu.icm.coansys.disambiguation.work.DuplicateWorkVoterConfiguration">
		<property name="titleMaxLevenshteinDistance" value="5"/>
		<property name="titleMostMeaningfulEndLength" value="8"/>
		<property name="titleEndMaxLevenshteinDistance" value="3"/>
	</bean>

   <context:component-scan resource-pattern="**/*.class" base-package="pl.edu.icm.coansys.disambiguation.work"/>

</beans>